<!-- @autor: Nancy Zitle Juarez 
Fecha de inicio : 06/06/2017 -->
<!DOCTYPE html>
<html lang="es">
<head>
	<title>Lyft</title>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../css/paginaInicial.css">
</head>
<body>
	<div class="imagen-logo">
		<img class="logo" src="../assets/logo-white.png">
	</div>
	<div class="botones">
		<a class="waves-effect pink darken-1 btn">Log In</a>
		<a class="waves-effect pink darken-1 btn" id="btn-registrate" >Sign Up</a>
	</div>
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/materialize.min.js"></script>
	<script src="../js/paginaInicial.js"></script>
</body>
</html>